<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
     <runtime> 
         <GCCpuGroup enabled="true" /> 
         <Thread_UseAllCpuGroups enabled="true" /> 
         <ThrowUnobservedTaskExceptions enabled="true" /> 
         <UseRandomizedStringHashAlgorithm enabled="1" /> 
         <gcServer enabled="true" /> 
     </runtime> 
</configuration>
